app/dist/login.html
<!DOCTYPE html><html lang="zh-tw"><head><meta charset="utf-8"><meta property="og:url" content="http://www.ipinyo.com/"><meta property="og:title" content="IPinYo 愛拼友 - FB實名制揪團、交友、分享平台"><meta property="og:site_name" content="IPinYo 愛拼友 - FB實名制揪團、交友、分享平台"><meta property="og:description" content="去哪裡玩很重要,但跟誰去玩更重要!以Facebook帳號作為實名制的 揪團,交友,分享 平台,您可以建立旅團,並且決定一些條件(年齡,興趣..等等)讓對這條件有興趣的人,進旅團與您聊天;同樣的,您也可以選擇您感興趣的旅團;聊天的同時 還能分享自己的生活照片和影片,以及您珍藏的 youtube,可以增進聊天時的趣味以及對彼此的了解,希望大家在線上聊完以後,在線下能成為好朋友."><meta name="keywords" content="實名, 實名制, 聊天, 交友, 分享, 拼友, ipinyo, 愛拼友, 揪團"><meta name="description" content="去哪裡玩很重要,但跟誰去玩更重要!以Facebook帳號作為實名制的 揪團,交友,分享 平台,您可以建立旅團,並且決定一些條件(年齡,興趣..等等)讓對這條件有興趣的人,進旅團與您聊天;同樣的,您也可以選擇您感興趣的旅團;聊天的同時 還能分享自己的生活照片和影片,以及您珍藏的 youtube,可以增進聊天時的趣味以及對彼此的了解,希望大家在線上聊完以後,在線下能成為好朋友."><meta name="author" content="劉品均"><meta name="copyright" content="本網頁著作權屬劉品均所有"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"><meta name="robots" content="INDEX, NOFOLLOW"><title>IPinYo 愛拼友 - FB實名制揪團、交友、分享平台</title><link rel="stylesheet" type="text/css" href="/dist/login.min.css"><link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css"><script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script></head><body class="container"><article class="row"><header class="row text-center page-header"><h1>IPinYo 愛拼友<small style="display: block">FB實名制 揪團、交友、分享 平台</small></h1></header><section class="row" style="overflow: auto"><div class="col-md-8"><div id="carousel-generic" class="carousel slide"><ol class="carousel-indicators"><li data-target="#carousel-generic" data-slide-to="0" class="active"></li><li data-target="#carousel-generic" data-slide-to="1"></li><li data-target="#carousel-generic" data-slide-to="2"></li><li data-target="#carousel-generic" data-slide-to="3"></li><li data-target="#carousel-generic" data-slide-to="4"></li><li data-target="#carousel-generic" data-slide-to="5"></li></ol><div class="carousel-inner"><div class="item active"><img src="./images/ipinyo_livingroom.jpg" alt="可以選擇有興趣的旅團或是自己建立一個新的,還能直接進入朋友所在的旅團"><div class="carousel-caption"><h3>揪團</h3><p>可以選擇有興趣的旅團或是自己建立一個新的,還能直接進入朋友所在的旅團喔!!</p></div></div><div class="item"><img src="./images/ipinyo_team_photo.jpg" alt="可以跟大家分享您的生活照"><div class="carousel-caption"><h3>分享</h3><p>可以跟大家分享您的生活照</p></div></div><div class="item"><img src="./images/ipinyo_team_movie.jpg" alt="可以跟大家分享您的生活點滴"><div class="carousel-caption"><h3>分享</h3><p>可以跟大家一起觀看您的生活影片</p></div></div><div class="item"><img src="./images/ipinyo_team_youtube.jpg" alt="可以跟大家一起觀看您所收藏的youtube"><div class="carousel-caption"><h3>分享</h3><p>可以跟大家一起觀看您所收藏的youtube</p></div></div><div class="item"><img src="./images/ipinyo_team_friends.jpg" alt="還能加為Facebook好友"><div class="carousel-caption"><h3>交友</h3><p>還能加為Facebook好友,當然也要對方加你,你們才真的是朋友喔</p></div></div><div class="item"><img src="./images/ipinyo_team_events.jpg" alt="還能和大家討論您感興趣的活動,並邀請大家一同參與此活動"><div class="carousel-caption"><h3>揪團</h3><p>還能和大家討論您感興趣的活動,並邀請大家一同參與此活動</p></div></div></div><a class="left carousel-control" href="#carousel-generic" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a></div><script>$('#carousel-generic').carousel();</script></div><div class="col-md-4"><p class="lead" style="margin-top: 1%">為了豐富人們的生活,使人們能自在的擴展人脈而不受生活圈的侷限,進而創造更多可能性,這便是這平台的使命.</p><small class="text-center" style="display: block;margin-top: 1%">這平台目前只支援 <i class="icon-tablet"></i><i class="text-success">平板</i> 及 <i class="icon-laptop"></i><i class="text-success">電腦版</i>的<a target="_blank" title="Chrome 瀏覽器" href="https://www.google.com/chrome" class="text-success"><i class="icon-external-link"></i> Chrome 瀏覽器</a></small> <a title="使用 Facebook 登入" href="/auth/facebook" class="btn btn-lg btn-info btn-block" style="font-size: 2em;margin-top: 1%"><i class="icon-facebook-sign"></i> 使用 Facebook 登入</a></div></section><footer class="row"><a href="/dist/PrivacyPolicy.html" class="btn btn-link" title="隱私權政策">隱私權政策</a> <span class="pull-right">Copyright © 2013 by <a class="btn btn-link" href="https://www.facebook.com/grassshrimp" title="劉品均">劉品均</a></span></footer></article><script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-43761808-1', 'ipinyo.com');
          ga('send', 'pageview');</script></body></html>

views/login.jade
!!! 5
html(lang='zh-tw')
head
  meta(charset='utf-8')
    meta(property='og:url', content='http://www.ipinyo.com/')
    meta(property='og:title', content='IPinYo 愛拼友 - FB實名制揪團、交友、分享平台')
    meta(property='og:site_name', content='IPinYo 愛拼友 - FB實名制揪團、交友、分享平台')
    meta(property='og:description', content='"去哪裡玩很重要,但跟誰去玩更重要",以Facebook帳號作為實名制的 揪團,交友,分享 平台,您可以建立旅團,並且決定一些條件(年齡,興趣..等等)讓對這條件有興趣的人,進旅團與您聊天;同樣的,您也可以選擇您感興趣的旅團;聊天的同時 還能分享自己的生活照片和影片,以及您珍藏的 youtube,可以增進聊天時的趣味以及對彼此的了解,希望大家在線上聊完以後,在線下能成為好朋友.')
    meta(name='keywords', content='實名, 實名制, 聊天, 交友, 分享, 拼友, ipinyo, 愛拼友, 揪團')
    meta(name='description', content='"去哪裡玩很重要,但跟誰去玩更重要",以Facebook帳號作為實名制的 揪團,交友,分享 平台,您可以建立旅團,並且決定一些條件(年齡,興趣..等等)讓對這條件有興趣的人,進旅團與您聊天;同樣的,您也可以選擇您感興趣的旅團;聊天的同時 還能分享自己的生活照片和影片,以及您珍藏的 youtube,可以增進聊天時的趣味以及對彼此的了解,希望大家在線上聊完以後,在線下能成為好朋友.')
    meta(name='author', content='劉品均')
    meta(name='copyright', content='本網頁著作權屬劉品均所有')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='robots', content='INDEX, NOFOLLOW')
    title IPinYo 愛拼友 - FB實名制揪團、交友、分享平台
    link(rel='stylesheet', type='text/css', href='/dist/login.min.css')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
  body.container
    article.row
      header.row.text-center.page-header
        h1
          | IPinYo 愛拼友
          small(style='display: block;') FB實名制 揪團、交友、分享 平台
      section.row(style='overflow: auto;')
        .col-md-8
          #carousel-generic.carousel.slide
            //
               Indicators 
            ol.carousel-indicators
              li.active(data-target='#carousel-generic', data-slide-to='0')
              li(data-target='#carousel-generic', data-slide-to='1')
              li(data-target='#carousel-generic', data-slide-to='2')
              li(data-target='#carousel-generic', data-slide-to='3')
              li(data-target='#carousel-generic', data-slide-to='4')
            //
               Wrapper for slides 
            .carousel-inner
              .item.active
                img(src='./images/ipinyo_livingroom.jpg', alt='可以選擇有興趣的旅團或是自己建立一個新的,還能直接進入朋友所在的旅團')
                .carousel-caption
                  h3 揪團
                  p 可以選擇有興趣的旅團或是自己建立一個新的,還能直接進入朋友所在的旅團喔!!
              .item
                img(src='./images/ipinyo_chatroom_image.jpg', alt='可以跟大家分享您的生活照')
                .carousel-caption
                  h3 分享
                  p 聊天的過程中,可以跟大家分享您的生活照
              .item
                img(src='./images/ipinyo_chatroom_video.jpg', alt='可以跟大家分享您的生活點滴')
                .carousel-caption
                  h3 分享
                  p 可以跟大家一起觀看您的生活影片
              .item
                img(src='./images/ipinyo_chatroom_youtube.jpg', alt='可以跟大家一起觀看您所收藏的youtube')
                .carousel-caption
                  h3 分享
                  p 聊天的過程中,可以跟大家一起觀看您所收藏的youtube
              .item
                img(src='./images/ipinyo_chatroom_friends.jpg', alt='還能加為Facebook好友')
                .carousel-caption
                  h3 交友
                  p 還能加為Facebook好友,當然也要對方加你,你們才真的是朋友喔
            //
               Controls 
            a.left.carousel-control(href='#carousel-generic', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#carousel-generic', data-slide='next')
              span.glyphicon.glyphicon-chevron-right
          script
            $('#carousel-generic').carousel();
        .col-md-4
          p.lead(style='margin-top: 1%;')
            | 為了豐富人們的生活,使人們能自在的擴展人脈而不受生活圈的侷限,進而創造更多可能性,這便是這平台的使命,我的夢想.
          small.text-center(style='display: block; margin-top: 1%;')
            | 這平台目前只支援
            i.icon-tablet
            i.text-success 平板
            | 及
            i.icon-laptop
            i.text-success 電腦版
            | 的
            a.text-success(target='_blank', title='Chrome 瀏覽器', href='https://www.google.com/chrome')
              i.icon-external-link
              | Chrome 瀏覽器
          a.btn.btn-lg.btn-info.btn-block(title='使用 Facebook 登入', href='/auth/facebook', style='font-size: 2em; margin-top: 1%;')
            i.icon-facebook-sign
            | 使用 Facebook 登入
      .row.events
        .col-md-3
          a(href='http://dep-tourism.hccg.gov.tw/_file/1931/upload/fire/index.html', target='_blank')
            .thumbnail
              .img-clip
                img(src='http://dep-tourism.hccg.gov.tw/_file/1931/upload/fire/images/body_back.jpg')
              .caption
                h4 2013 國慶煙火在新竹 國慶煙火綻風城
        .col-md-3
          a(href='http://designexpo.boco.com.tw/about.html', target='_blank')
            .thumbnail
              .img-clip
                img(src='http://designexpo.boco.com.tw/img/2013designexpo_post-s.jpg')
              .caption
                h4 2013台灣設計展暨台北設計城市展
      footer.row
        a.btn.btn-link(target='_blank', href='http://ipinyo.blogspot.tw/2013/09/blog-post.html', title='起源') 起源
        a.btn.btn-link(href='/dist/PrivacyPolicy.html', title='隱私權政策') 隱私權政策
        span.pull-right
          | Copyright © 2013 by
          a.btn.btn-link(href='https://www.facebook.com/grassshrimp', title='劉品均') 劉品均
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43761808-1', 'ipinyo.com');
      ga('send', 'pageview');
